@model List<Job>

<head>
    <link rel="stylesheet" href="~/css/RespondedJobs.css">
    <link rel="stylesheet" href="~/css/Home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/close.js"></script>
</head>


<head>
    <link rel="stylesheet" href="~/css/Home.css">
</head>

<div class="mainBody">
@* NAVBAR *@
<nav class="nav1 fontHead navbar navbar-expand-lg navbar-light bg-light">
  @* <a class="navbar-brand" href="#">Navbar</a> *@
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      @* <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> *@
      <li class="nav-item">
        <a href="/respondedjobs" class="nav-item nav-link text-muted disabled">Responded Jobs</a>
      </li>
      <li class="nav-item active">
        <a href="/home" class="nav-item nav-link text-primary">Waiting Jobs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/closedjobs" class="nav-item nav-link text-primary">Closed jobs</a>
      </li>
      <li class="nav-item">
        <a href="/newjob" class="nav-item nav-link text-primary">New Job</a>
      </li>
    </ul>
    <div class="fontHead form-inline my-2 my-lg-0">
      <a href="/home" class="form-inline my-2 my-lg-0">
        <img src="~/img/logo.png" alt="Logo" class="logo">     
      </a>
      <a class="nav-item nav-link text-primary" href="/account">Account</a>
      <a class="nav-item nav-link text-danger form-inline my-2 my-lg-0" href="/logout">Sign Out</a>
    </div>
  </div>
</nav>

<nav class="nav2 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
    <img src="~/img/logo.png" alt="Logo" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="/respondedjobs" class="nav-item nav-link text-muted disabled">Responded Jobs</a>
      <a href="/home" class="nav-item nav-link text-primary">Waiting Jobs <span class="sr-only">(current)</span></a>
      <a href="/closedjobs" class="nav-item nav-link text-primary">Closed jobs</a>
      <a href="/newjob" class="nav-item nav-link text-primary">New Job</a>
      <a class="nav-item nav-link text-primary" href="/account">Account</a>
      <a class="nav-item nav-link text-danger" href="/logout">Sign Out</a>
    </div>
  </div>
</nav>
<br>

@{
  if(ViewBag.HP == 0)
  {
    <div class="row">
        <div class="col-md-4">
          <a href="/newgoal">
            <div class="goals fontHead">
              <h5 class="text-center">You don't have any goals right now.</h5>
              <p class="text-center">Press to create goal</p>
            </div>
          </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
  } else if(ViewBag.HP == 1){
      <div class="row">
        <div class="col-md-4">
          <a href="/thisgoal/@ViewBag.Goal.GoalId">
            <div class="goals fontBody">
              <h5>Today's Goal: Apply to @ViewBag.Goal.Amount jobs</h5>
              <span class="fontBody"> <span class="text-primary numBer">@ViewBag.Goal.SoFar / @ViewBag.Goal.Amount</span> jobs Applied</span>
              <h5 class="keep">Keep Going you got this!</h5>
            </div>
          </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
  } else{
    <div class="row">
        <div class="col-md-4">
          <a href="/thiscompgoal/@ViewBag.Goal.GoalId">
            <div class="goalComp goal3 fontBody">
              <h5 class="text-center goal3">Awesome you reached your goal</h5>
              <p class="text-center">
                <img src="~/img/star.png" alt="Star" class="star">
              </p>
              <p class="text-center">Press to continue</p>
            </div>
          </a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
  }
}

<br>
<br>
<h1 class="text-center fontHead">Responded Jobs</h1>
<hr class="colorhr">

    <br>
    <br>

    <div style="overflow-x:auto;">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Company</th>
        <th scope="col">Position</th>
        <th scope="col">Website</th>
        <th scope="col">Last Response Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
        <tbody>
                @{
                    int Numero = 0;
                    foreach(Job X in @Model)
                    {
                        Numero++;
                        <tr>
                        <th scope="row">@Numero</th>
                            <td>@X.Company.ToUpper()</td>
                            <td>@X.Position</td>
                            <td>@X.Website</td>
                            <td>@X.RDate.ToShortDateString()</td>
                            <td class="status">
                                <form action="/updatestatusresponded/@X.JobId" method="post">
                                    @{
                                        if(@X.Status == "Application Sent")
                                        {
                                            <select name="Status" id="Status" class="applied text-center form-control" onchange="this.form.submit()">
                                                <option value="Application Sent" class="applied">Application Sent</option>
                                                <option value="Contact Made" class="contact">Contact Made</option>
                                                <option value="Interview"class="interview">Interview</option>
                                                <option value="Offer Made" class="offer">Offer Made</option>
                                            </select>
                                        } else if(@X.Status == "Contact Made"){
                                            <select name="Status" id="Status" class="contact text-center form-control" onchange="this.form.submit()">
                                                <option value="Contact Made" class="contact">Contact Made</option>
                                                <option value="Interview"class="interview">Interview</option>
                                                <option value="Offer Made" class="offer">Offer Made</option>
                                                <option value="Application Sent" class="applied">Application Sent</option>
                                            </select>
                                        } else if(@X.Status == "Interview"){
                                            <select name="Status" id="Status" class="interview text-center form-control" onchange="this.form.submit()">
                                                <option value="Interview"class="interview">Interview</option>
                                                <option value="Offer Made" class="offer">Offer Made</option>
                                                <option value="Application Sent" class="applied">Application Sent</option>
                                                <option value="Contact Made" class="contact">Contact Made</option>
                                            </select>
                                        } else if(@X.Status == "Offer Made"){
                                            <select name="Status" id="Status" class="offer text-center form-control" onchange="this.form.submit()">
                                                <option value="Offer Made" class="offer">Offer Made</option>
                                                <option value="Application Sent" class="applied">Application Sent</option>
                                                <option value="Contact Made" class="contact">Contact Made</option>
                                                <option value="Interview"class="interview">Interview</option>
                                            </select>
                                        } 
                                    }
                                </form>
                            </td>
                            <td>
                                <a href="/thisjob/@X.JobId" class="expand btn btn-outline-primary">Expand</a>
                                <a href="/edit/@X.JobId" class="expand btn btn-outline-warning">Edit</a>
                                <button class="open-button expand btn btn-outline-danger" onclick="openForm()">Close</button>
                                @* HIDDEN POP OUT FORM *@
                                <div class="fontBody form-popup" id="myForm">
                                  <form action="/closer/@X.JobId" method="post" class="form-container">
                                    <h5>Close this @X.Company job?</h5>
                                    @* <input type="text" name="notes" placeholder="(optional) Notes for why job is closing" class="form-control"> *@
                                    <span class="error1"></span>
                                    <textarea name="CNotes" id="" cols="30" rows="6" onkeyup="countChar(this)" placeholder="Note for why job is closing (optional)" class="popText form-control"></textarea>
                                    <div id="charNum" class="text-right"></div>
                                    <br>
                                    <p class="text-center">
                                      <button type="submit" class="btn btn-primary">Save</button>
                                      &nbsp;
                                      <button type="button" class="btn btn-warning cancel" onclick="closeForm()">Exit</button>
                                    </p>
                                  </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
        </tbody>
    
    </table>
    </div>
</div>




