@model Goal
<head>
    <link rel="stylesheet" href="~/css/ThisJob.css">
    <link rel="stylesheet" href="~/css/Edit.css">
    <link rel="stylesheet" href="~/css/Account.css">
    @* <link rel="stylesheet" href="~/css/Login.css"> *@
</head>
<div class="mainBody">
    <div class="row">
        <div class="col-4">
            <a href="/home">
                <img src="~/img/logo.png" alt="Logo" class="logo">     
            </a>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <a href='/home' class="fontHead options topbtn text-dark btn btn-outline-warning">Back To Home</a>
        </div>
    </div>

    <br>
    <br>

    @* <h1 class="text-center fontHead">Welcome to your account @Model.Name</h1> *@

    <br>
    <br>
    <br>

    <div class="jumbotron fontBody">
        <h1 class="text-center fontBody heading">Good job on reaching your goal!</h1>
        <hr class="colorhr">
        <div class="row">
            <div class="col-md-6">
                <label class="label">You applied to a total number of</label>
                <p class="infoPiece">@Model.SoFar / @Model.Amount Jobs</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr class="reghr">
        <div class="row">
            <div class="col-md-6">
                <label class="label">Goal completed on</label>
                <p class="infoPiece">@Model.UpdatedAt.ToShortDateString()</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr class="reghr">
        <div class="row">
            <div class="col-md-6">
                <label class="label">Goal created on</label>
                <p class="infoPiece">@Model.CreatedAt.ToShortDateString()</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr class="reghr">
        <div class="text-center">
            <label class="label">DELETE THIS GOAL TO CREATE NEW ONE?</label>
            <p class="text-center text-danger">
                <a href="/deletegoal/@Model.GoalId" class="update text-danger">Delete Goal</a>
            </p>
        </div>
        <hr class="reghr">
    </div>
</div>
